{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Create invoice</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="invoice_date">Date</label>
                        {{form.date}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="invoice_customer_name">Customer name</label>
                        {{form.customer}}
                    </div>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="table">
                        <table class="no_error">
                            {{ form.as_table }}
                        </table>
                    </div>
                    {% endfor %}
                    <div class="mb-3 d-flex justify-content-center">
                        <input class="btn btn-outline-warning" style="margin: 0 1em 0 1em; width: 40%" type="button"
                               value="Add More" id="add_more">
                        <input class="btn btn-outline-success" style="margin: 0 1em 0 1em; width: 40%" type="submit"
                               name="create-invoice">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}