{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Create invoice</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    {% for invoice in invoice_detail %}
<!--                    {{invoice}}-->
<!--                    <hr>-->
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="invoice_detail_product">Product name</label>
                                {{invoice.product}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="invoice_detail_amount">Amounts</label>
                                {{invoice.amount}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="mb-3">
                        <input class="btn btn-info" type="submit" name="create-invoice-detail">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}