{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Create invoice</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="invoice_date">Date</label>
                        {{form.date}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="invoice_customer_name">Customer name</label>
                        {{form.customer}}
                    </div>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="invoice_detail_product">Product name</label>
                                {{form.product}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="invoice_detail_amount">Amounts</label>
                                {{form.amount}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="mb-3">
                        <input class="btn btn-outline-primary" style="width: 100%; height: 100%; border-radius: 0"
                               type="submit" name="create-invoice">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}