{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Create customer</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="customer_name">Customer name</label>
                        {{customer.customer_name}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="customer_gender">Select gender</label>
                        {{customer.customer_gender}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="customer_dob">Date of birth</label>
                        {{customer.customer_dob}}
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-info" type="submit" name="Create customer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}