{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Customers</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Date of birth</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in customer %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.customer_name}}</td>
                                <td>{{i.customer_gender}}</td>
                                <td>{{i.customer_dob}}</td>
                                <td>{{i.customer_points}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}