{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Create invoice</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label" for="invoice_customer">Customer name</label>
                        {{form.customer}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="invoice_contact">Contact</label>
                        {{form.contact}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="invoice_comments">Comments</label>
                        {{form.comments}}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="invoice_email">Email</label>
                        {{form.email}}
                    </div>
                    
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="table">
                        <table class="table">
                            <tr>
                                <td style="border: 0; padding: 0 0.5em 0 0; width: 80%">
                                    <label class="form-label" for="invoice_detail_product">Product name</label>
                                    {{form.product}}
                                </td>
                                <td style="border: 0; padding: 0 0 0 0.5em;">
                                    <label class="form-label" for="invoice_detail_amount">Amounts</label>
                                    {{form.amount}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}
                    <div class="mb-3 d-flex justify-content-center">
                        <input class="btn btn-outline-warning add-form-row" style="margin: 0 1em 0 1em; width: 40%"
                            type="button" value="Add more product" id="add_more">
                        <input class="btn btn-outline-success" style="margin: 0 1em 0 1em; width: 40%" type="submit"
                            name="create-invoice">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}
<script>
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function () {
            var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({ 'name': name, 'id': id }).val('').removeAttr('checked');
        });
        newElement.find('label').each(function () {
            var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }

    $('#add_more').click(function () {
        cloneMore('div.table:last', 'form');
    });
</script>
{% endblock %}