{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Products</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in invoice_detail %}
                            <tr>
                                <td style="padding: 0.45em;">
                                    {{i.product}}
                                </td>
                                <td style="padding: 0.45em;">
                                    {{i.product.product_price}}
                                </td>
                                <td style="padding: 0.45em;">
                                    {{i.amount}}
                                </td>
                                <td style="padding: 0.45em;">
                                    {{i.get_total_bill}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}