{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">Products</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Unit</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in product %}
                            <tr>
                                <td style="padding: 0.45em;">{{i.id}}</td>
                                <td style="padding: 0.45em;">{{i.product_name}}</td>
                                <td style="padding: 0.45em;">{{i.product_price}}</td>
                                <td style="padding: 0.45em;">{{i.product_unit}}</td>
                                <td style="padding: 0;">
                                    <a href="{% url 'edit_product' i.id %}" class="btn btn-outline-primary"
                                       style="width: 100%; height: 100%; border-radius: 0">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                                <td style="padding: 0;">
                                    <a href="{% url 'delete_product' i.id %}" class="btn btn-outline-danger"
                                       style="width: 100%; height: 100%; border-radius: 0">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}